<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CRUD in Express </h1>
    <form action="/addData" method="post">
        <input type="text" name="name" placeholder="Enter Name" required>
        <input type="text" name="age" placeholder="Enter age" required>
        <input type="text" name="city" placeholder="Enter city" required>
        <button type="submit">Submit</button>
    </form>
    <%data.map((e,i)=>{%>
    <ul>
        <li><%=e.name%></li>
        <li><%=e.age%></li>
        <li><%=e.city%></li>
        <li><a href="/editData/?id=<%=e.id%>"><button>Edit</button></a></li>
        <li><a href="/deleteData/<%=e.id%>"><button>Delete</button></a></li>
    </ul>
    <%})%>
</body>
</html>